__pycache__/utils.cpython-36.pyc
history/unauthorized.npy
__pycache__/dashboard.cpython-36.pyc
__pycache__/enrolement_addNew.cpython-36.pyc
__pycache__/enrolement_ChangeAccess.cpython-36.pyc
__pycache__/paths.cpython-36.pyc
__pycache__/utils.cpython-36.pyc
gallery_images/

